@import 'vars';

@mixin backdrop($color, $opacity) {
  position: relative;

  &:after {
    content: '';
    display: block;
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    background-color: $color;
    opacity: $opacity;
  }

  > * {
    z-index: 1;
  }
}
