<div class="login-wrapper">
  <mat-card>
    <form action="">
      <mat-form-field class="full-width">
        <input
          matInput
          placeholder="Email"
          required
        >
      </mat-form-field>
      <mat-form-field class="full-width">
        <input
          matInput
          placeholder="Password"
          required
          type="password"
        >
      </mat-form-field>
      <button mat-raised-button type="submit">Login</button>
    </form>
    
  </mat-card>
</div>
