@import 'helpers';

.login-wrapper {
  @include backdrop($black, .8);
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-size: cover;
  background-image: url('/assets/images/login_bg.jpg');
}
