.example-spacer {
  flex: 1 1 auto;
}

.main-toolbar {
  height: 48px;
}

.mat-sidenav {
  width: 250px;
}

main {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;

  &.is-mobile .main-toolbar {
    position: fixed;
    z-index: 2;
  }
}

.mat-sidenav-container {
  flex: 1;
}

.is-mobile .mat-sidenav-container {
  flex: 1 0 auto;
}

.mat-sidenav-content {
  padding: 12px;
}
