<main [class.is-mobile]="mobileQuery.matches">
  <mat-toolbar class="main-toolbar" color="primary">
    <button
      mat-icon-button
      (click)="snav.toggle()"
    >
      <mat-icon>menu</mat-icon>
    </button>
    <span class="example-spacer"></span>
    <mat-icon class="example-icon">verified_user</mat-icon>
  </mat-toolbar>

  <mat-sidenav-container [style.marginTop.px]="mobileQuery.matches ? 48 : 0">
    <mat-sidenav
      #snav
      [mode]="mobileQuery.matches ? 'over' : 'side'"
      [fixedInViewport]="mobileQuery.matches"
      fixedTopGap="48"
    >
      <mat-nav-list>
        <a routerLink="users">users</a>
      </mat-nav-list>
    </mat-sidenav>

    <mat-sidenav-content>
      <router-outlet></router-outlet>
    </mat-sidenav-content>
  </mat-sidenav-container>
</main>
